.section {
  margin-bottom: var(--spacing-2xl);
  position: relative;

  @media (min-width: 768px) {
    padding-left: var(--layout-column-width);
  }
}

.title {
  font-weight: var(--typography-font-weight-md);

  @media (min-width: 768px) {
    margin-bottom: var(--spacing-sm);
  }
}
